<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Genaker_Opcache::index_main"
             title="OPcache"
             parent="Magento_Backend::system"
             module="Genaker_Opcache"
             sortOrder="120"
             resource="Genaker_Opcache::index_index"
        />
        <add id="Genaker_Opcache::index_index"
             action="opcache_gui/index/index"
             module="Genaker_Opcache"
             resource="Genaker_Opcache::index_index"
             parent="Genaker_Opcache::index_main"
             sortOrder="9999"
             title="Performance and OPcache GUI"
        />
        <add id="Genaker_Opcache::index_opcache"
             action="opcache_gui/index/opcache"
             module="Genaker_Opcache"
             resource="Genaker_Opcache::index_index"
             parent="Genaker_Opcache::index_main"
             sortOrder="9999"
             title="OPcache GUI"
        />
    </menu>
</config>
